<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thumb Gallery</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="../js/main.js" defer></script>
</head>

<body>
    <main>
        <h2>Thumb Gallery</h2>
        <img src="../images/i8.jpg" alt="i8" id="biggest">
        <span>BMW I8</span>
        <div id="root">
            <img src="../images/i8.jpg" alt=" BMW I8">
            <img src="../images/supra.jpg" alt="Toyota Supra">
            <img src="../images/G class.jpg" alt="Mercedes G class">
            <img src="../images/panamera.jpg" alt="Porsche Panamera">
            <img src="../images/challenger.jpg" alt="Dodge Challenger">
        </div>
    </main>
</body>

</html>